/* body共通 */
body{
  margin: 0;
}

// 共通要素
.common_subtitle {
  margin: 0 auto;
  margin-bottom: 40px;
}

.common_section {
  padding: 70px 5%;
  margin: 0 auto;
}
/* ヘッダーはここから */
header {
  height: 60px;
  /* 両端に余白を作成します。 */
  padding: 0 5%;
  /* flexboxを使用します。 */
  /* 子要素を横並びにできます。 */
  display: flex;
  /* 子要素を両端揃えに出来ます。 */
  justify-content:space-between;
  /* 子要素を上下中央揃えに出来ます */
  align-items: center;
}

header .header_title h1 a {
  text-decoration: none;
  color: black;
}

header .header_title h1 a:hover {
  color: black;
}

header nav ul {
list-style: none;
display: flex;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

header nav ul li a:hover {
  color: #e65f78;
}

/* fvここから */
.firstview {
height: 664px;
width: 100%;
background-size: cover;
background-image: url("../img/1stview.png");
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.firstview .firstview_title h2 {
  color: white;
}

.firstview .firstview_title h2 span {
  font-size: 60px;
}

/* 自己紹介ここから */
.aboutme{
  padding: 70px 5%;
  background:green;
  display: flex;
  justify-content: space-between;
}

.aboutme .aboutme_img {
  width: 49%;
  height: 333px;
  background: black;
}

/* スキルここから */
.skill{
  background: gray;
}

.skill .skill_title {
  height: 50px;
  background: black;
}

/* 作品ここから */
.works{
  background: gold;
}

.works .works_title {
  height: 50px;
  background: black;
}

.works ul {
  height: 400px;
  background: black;
}

/* 経歴ここから */
.timeline{
  background: fuchsia;
}

.timeline .timeline_title {
  height: 50px;
  background: black;
}

.timeline .timeline_content {
  height: 400px;
  background: black;
}
/* 問い合わせここから */
.contact{
  background: aqua;
}

.contact form {
  height: 400px;
  background: black;
}

/* フッターここから */
footer ul {
  width: 400px;
  height: 50px;
  background:black;
  margin: 0 auto;
}

footer p {
  text-align: center;
}
